@model FitnessAppWebApi.Models.Meal

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totcalories)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totcalories)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totcarbs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totcarbs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totprotien)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totprotien)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Totfat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Totfat)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
